<footer id="content-footer" class="affix">
        <div class="row">
          <div class="col-md-6">
            <span class="footer-legal">&copy; {{date('Y')}} AdminDesigns</span>
          </div>
          <div class="col-md-6 text-right">
            <span class="footer-meta">         
          		<div class="ml15 ib va-m" id="toggle_sidemenu_r">
		            <a href="{{@BASE.@SESSION.CurrentPageURL}}#" class="pl5">
		              <i class="fa fa-sign-in fs22 text-primary"></i>
		              <span class="badge badge-danger badge-hero">3</span>
		            </a>
          		</div>
          	</span>
            <a href="{{@BASE.@SESSION.CurrentPageURL}}#content" class="footer-return-top">
              <span class="fa fa-arrow-up"></span>
            </a>
          </div>
    </div>
</footer>