<div class="panel panel-primary panel-border top mb35">
              <div class="panel-heading">
                <span class="panel-title">Damage Details</span>
              </div>
              <div class="panel-body bg-light dark">
                <div class="admin-form">

                  <div class="section row mb10">
                    <label for="names" class="field-label col-md-3 text-center">Damage Description : </label>
                    <div class="col-md-9">
                      <label class="field prepend-icon">
                        <input type="text" name="store-weight" id="store-weight" class="gui-input" value="" placeholder="Damage Desc" required readonly>
                        <label for="store-desc" class="field-icon">
                          <i class="fa fa-ban-circle"></i>
                        </label>
                      </label>
                    </div>
                  </div>

                  <div class="section row mb10">
                    <label for="store-currency" class="field-label col-md-3 text-center">Car Condition : </label>
                    <div class="col-md-9">
                      <label class="field prepend-icon">
                        <input type="text" name="store-weight" id="store-weight" class="gui-input" value="" placeholder="Car Condition" readonly>
                        <label for="store-desc" class="field-icon">
                          <i class="fa fa-car"></i>
                        </label>
                      </label>
                    </div>
                  </div>

                  <div class="section row mb10">
                    <label for="store-units" class="field-label col-md-3 text-center">Place & Time of Repair : </label>
                    <div class="col-md-9">
                      <label for="store-units" class="field prepend-icon">
                        <input type="text" name="store-units" id="store-units" class="gui-input" value="" placeholder="Place & Time of Repair" readonly>
                        <label for="store-units" class="field-icon">
                          <i class="fa fa-marker"></i>
                        </label>
                      </label>
                    </div>
                  </div>

                  <div class="section row mb10">
                    <label for="store-weight" class="field-label col-md-3 text-center">Other vehicle and/Or property Damaged 	  : </label>
                    <div class="col-md-9">
                      <label for="store-weight" class="field prepend-icon">
                        <input type="text" name="store-weight" id="store-weight" class="gui-input" value="" placeholder="Property Damaged" readonly>
                        <label for="store-weight" class="field-icon">
                          <i class="fa fa-calendar"></i>
                        </label>
                      </label>
                    </div>
                  </div>

                  <div class="section row mb10">
                    <label for="store-desc" class="field-label col-md-3 text-center">Owner Full names : </label>
                    <div class="col-md-9">
                      <label class="field prepend-icon">
                        <input type="text" name="store-weight" id="store-weight" class="gui-input" value="" placeholder="Full Name" readonly>
                        <label for="store-desc" class="field-icon">
                          <i class="fa fa-credit-card"></i>
                        </label>
                      </label>
                    </div>
                  </div>
                  <div class="section row mb10">
                  <label for="store-desc" class="field-label col-md-3 text-center">damaged Car Reg No	 : </label>
                    <div class="col-md-9">
                      <label class="field prepend-icon">
                        <input type="text" name="store-weight" id="store-weight" class="gui-input" value="" placeholder="damaged Car Reg No" readonly>
                        <label for="store-desc" class="field-icon">
                          <i class="fa fa-calendar"></i>
                        </label>
                      </label>
                    </div>
                  </div>
                  <div class="section row mb10">
                  <label for="store-desc" class="field-label col-md-3 text-center">Property : </label>
                    <div class="col-md-9">
                      <label class="field prepend-icon">
                        <input type="text" name="store-weight" id="store-weight" class="gui-input" value="" placeholder="Property Damaged" readonly>
                        <label for="store-desc" class="field-icon">
                          <i class="fa fa-clock"></i>
                        </label>
                      </label>
                    </div>
                  </div>
                  <div class="section-divider mt20 mb40">
                      <span>Person(s) Injured Details </span>
                    </div>
                 <!-- Person Injured-->
				<table class="table">
				  <thead>
				    <tr class="warning">
				      <th>#</th>
				      <th>Full Name</th>
				      <th>
				        Phone Number
				      </th>
				      <th>
				        Next Of Kin
				      </th>
				      <th>
				       Relationship
				      </th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td>1</td>
				      <td>Mark</td>
				      <td>Cell</td>
				      <td>Cell</td>
				      <td>Cell</td>
				    </tr>
				    <tr>
				        <td>1</td>
				      <td>Mark</td>
				      <td>Cell</td>
				      <td>Cell</td>
				      <td>Cell</td>
				    </tr>
				    <tr>
				      <td>3</td>
				      <td>Larry</td>
				      <td>Cell</td>
				      <td>Cell</td>
				    </tr>
				    <tr>
				       <td>1</td>
				      <td>Mark</td>
				      <td>Cell</td>
				      <td>Cell</td>
				      <td>Cell</td>
				    </tr>
				  </tbody>
				</table>
                  

                </div>
              </div>
            </div>