    	<!-- begin: .tray-center -->
        <div class="tray tray-center">      

            <!-- Dashboard Tiles -->
            <div class="row mb10" id="spy1">
              <div class="col-sm-4 col-md-3">
                <div class="bs-component1">
                  <div class="panel panel-tile bg-primary light">
                    <div class="panel-body pn pl20 p20" >
                      <i class="fa fa-th icon-bg"></i>
                      <h2 class="mt15 lh15">
                        <b class="dash-fig">{{number_format(@page.totalCount,'0')}}</b>
                      </h2>
                      <h5 class="text-muted">Total Claims</h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 col-md-3">
                <div class="bs-component1">
                  <div class="panel panel-tile bg-warning light">
                    <div class="panel-body pn pl20 p20">
                      <i class="fa fa-exclamation icon-bg"></i>
                      <h2 class="mt15 lh15">
                        <b class="dash-fig">{{number_format(@page.pendingCount,'0')}}</b>
                      </h2>
                      <h5 class="text-muted">Pending</h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 col-md-3">
                <div class="bs-component1">
                  <div class="panel panel-tile bg-success light">
                    <div class="panel-body pn pl20 p20">
                      <i class="fa fa-check icon-bg"></i>
                      <h2 class="mt15 lh15">
                        <b class="dash-fig">{{number_format(@page.approvedCount,'0')}}</b>
                      </h2>
                      <h5 class="text-muted">Approved</h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 col-md-3">
                <div class="bs-component1">
                  <div class="panel panel-tile bg-danger light">
                    <div class="panel-body pn pl20 p20">
                      <i class="fa fa-times icon-bg"></i>
                      <h2 class="mt15 lh15">
                        <b class="dash-fig">{{number_format(@page.rejectedCount,'0')}} </b>
                      </h2>
                      <h5 class="text-muted">Rejected</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          <!-- Admin-panels -->
          <div class="admin-panels fade-onload">

            <div class="row">

              <!-- Three Pane Widget -->
              <div class="col-md-12 admin-grid">

                <!-- dashboard activity -->
                <div class="panel sort-disable" id="p01" data-panel-title="false">
                  <div class="panel-heading">
                    <span class="panel-title hidden-xs hidden"> Recent Activity</span>
                    <ul class="nav panel-tabs panel-tabs-left">
                      <!-- Demo Note: all hrefs set to #tab1_1 -->
                      
                      <li class="active">
                        <a href="#tab1_1" data-toggle="tab"> {{date('Y')}} </a>
                      </li>
          <div class="ib topbar-dropdown">
            <label for="topbar-multiple" class="control-label pr10 fs11 text-muted"></label>
            <select id="topbar-multiple" class="hidden">
              <optgroup label="Filter By:">
                <option value="1-1">Last 30 Days</option>
                <option value="1-2" selected="selected">Last 60 Days</option>
                <option value="1-3">Last Year</option>
              </optgroup>
            </select>
          </div>

          
                    </ul>
                  </div>
                  <div class="panel-body pn">

                    <div class="tab-content">
                      <div class="tab-pane active p15" id="tab1_1" role="tabpanel" >
                        <div class="row">

			                    <!-- Chart Column -->
			                    <div class="col-md-8 pln br-r mvn15">
			                      <h5 class="ml5 mt20 ph10 pb5 br-b fw600 hidden">Visitors
			                        <small class="pull-right fw600">13,253
			                          <span class="text-primary">(8,251 unique)</span>
			                        </small>
			                      </h5>
			                      <div id="ecommerce_chart1" style="height: 300px;"></div>
			                    </div>

			                    <!-- Multi Text Column -->
			                    <div class="col-md-4">
			                      <h5 class="mt5 mbn ph10 pb5 br-b fw600">Recent Claims
			                        <small class="pull-right fw600 text-primary">View Report </small>
			                      </h5>
			                      <table class="table mbn tc-med-1 tc-bold-last tc-fs13-last">
			                        <thead>
			                          <tr class="hidden">
			                            <th>Source</th>
			                            <th>Count</th>
			                          </tr>
			                        </thead>
			                        <tbody>
			                        <repeat group="{{@page.recentClaims}}" value="{{@item }}">
				                        <tr>
				                            <td>
				                              <i class="fa fa-circle text-success fs8 pr15"></i>
				                              <span>{{@item.claimNo}}</span>
				                            </td>
				                            <td>
				                            <a href="{{ @item.stageId.link}}" class="{{ @item.stageId.class}}"><i class="{{@item.stageId.icon}}"></i> {{@item.stageId.name}}</a>
				                            </td>
				                        </tr>
			                        </repeat>
			                          
			                        </tbody>
			                      </table>
			                      <!--
			                      <h5 class="mt15 mbn ph10 pb5 br-b fw600">Top Search Terms
			                        <small class="pull-right fw600 text-primary">View Report </small>
			                      </h5>
			                      <table class="table mbn tc-med-1 tc-bold-last tc-fs13-last">
			                        <thead>
			                          <tr class="hidden">
			                            <th>Source</th>
			                            <th>Count</th>
			                          </tr>
			                        </thead>
			                        <tbody>
			                          <tr>
			                            <td>
			                              <i class="fa fa-circle text-warning fs8 pr15"></i>
			                              <span>admin theme</span>
			                            </td>
			                            <td>988</td>
			                          </tr>
			                          <tr>
			                            <td>
			                              <i class="fa fa-circle text-warning fs8 pr15"></i>
			                              <span>admin dashboard</span>
			                            </td>
			                            <td>612</td>
			                          </tr>
			                          <tr>
			                            <td>
			                              <i class="fa fa-circle text-warning fs8 pr15"></i>
			                              <span>admin template</span>
			                            </td>
			                            <td>256</td>
			                          </tr>
			                        </tbody>
			                      </table>
			                   -->
			                    </div>

			                    <!-- Flag/Icon Column -->
			                    <div class="col-md-4 hidden">
			                      <h5 class="mt5 ph10 pb5 br-b fw600">Traffic Sources
			                        <small class="pull-right fw600 text-primary">View Stats </small>
			                      </h5>
			                      <table class="table mbn">
			                        <thead>
			                          <tr class="hidden">
			                            <th>#</th>
			                            <th>First Name</th>
			                          </tr>
			                        </thead>
			                        <tbody>
			                          <tr>
			                            <td class="va-m fw600 text-muted">
			                              <span class="flag-xs flag-us mr5 va-b"></span> United States</td>
			                            <td class="fs15 fw600 text-right">28%</td>
			                          </tr>
			                          <tr>
			                            <td class="va-m fw600 text-muted">
			                              <span class="flag-xs flag-tr mr5 va-b"></span> Turkey</td>
			                            <td class="fs15 fw600 text-right">25%</td>
			                          </tr>
			                          <tr>
			                            <td class="va-m fw600 text-muted">
			                              <span class="flag-xs flag-fr mr5 va-b"></span> France</td>
			                            <td class="fs15 fw600 text-right">22%</td>
			                          </tr>
			                          <tr>
			                            <td class="va-m fw600 text-muted">
			                              <span class="flag-xs flag-in mr5 va-b"></span> India</td>
			                            <td class="fs15 fw600 text-right">18%</td>
			                          </tr>
			                          <tr>
			                            <td class="va-m fw600 text-muted">
			                              <span class="flag-xs flag-es mr5 va-b"></span> Spain</td>
			                            <td class="fs15 fw600 text-right">15%</td>
			                          </tr>
			                          <tr>
			                            <td class="va-m fw600 text-muted">
			                              <span class="flag-xs flag-de mr5 va-b"></span> Germany</td>
			                            <td class="fs15 fw600 text-right">12%</td>
			                          </tr>
			                        </tbody>
			                      </table>
			                    </div>
			                  </div>
                      </div>
                      <div role="tabpanel" class="tab-pane" id="tab1_2">
                        <div class="table-responsive">
                          <table class="table admin-form theme-warning tc-checkbox-1 fs13">
                            <thead>
                              <tr class="bg-light">
                                <th class="">Image</th>
                                <th class="">Product Title</th>
                                <th class="">SKU</th>
                                <th class="">Price</th>
                                <th class="">Stock</th>
                                <th class="text-right">Status</th>

                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td class="w100">
                                  <img class="img-responsive mw20 ib mr10" title="user" src="app/ui/assets/img/stock/products/thumb_1.jpg">
                                </td>
                                <td class="">Apple Ipod 4G - Silver</td>
                                <td class="">#21362</td>
                                <td class="">$215</td>
                                <td class="">1,400</td>
                                <td class="text-right">
                                  <div class="btn-group text-right">
                                    <button type="button" class="btn btn-success br2 btn-xs fs12 dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> Active
                                      <span class="caret ml5"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                      <li>
                                        <a href="#">Edit</a>
                                      </li>
                                      <li>
                                        <a href="#">Delete</a>
                                      </li>
                                      <li>
                                        <a href="#">Archive</a>
                                      </li>
                                      <li class="divider"></li>
                                      <li>
                                        <a href="#">Complete</a>
                                      </li>
                                      <li class="active">
                                        <a href="#">Pending</a>
                                      </li>
                                      <li>
                                        <a href="#">Canceled</a>
                                      </li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="w100">
                                  <img class="img-responsive mw20 ib mr10" title="user" src="app/ui/assets/img/stock/products/thumb_2.jpg">
                                </td>
                                <td class="">Apple Smart Watch - 1G</td>
                                <td class="">#15262</td>
                                <td class="">$455</td>
                                <td class="">2,100</td>
                                <td class="text-right">
                                  <div class="btn-group text-right">
                                    <button type="button" class="btn btn-success br2 btn-xs fs12 dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> Active
                                      <span class="caret ml5"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                      <li>
                                        <a href="#">Edit</a>
                                      </li>
                                      <li>
                                        <a href="#">Delete</a>
                                      </li>
                                      <li>
                                        <a href="#">Archive</a>
                                      </li>
                                      <li class="divider"></li>
                                      <li>
                                        <a href="#">Complete</a>
                                      </li>
                                      <li class="active">
                                        <a href="#">Pending</a>
                                      </li>
                                      <li>
                                        <a href="#">Canceled</a>
                                      </li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="w100">
                                  <img class="img-responsive mw20 ib mr10" title="user" src="app/ui/assets/img/stock/products/thumb_6.jpg">
                                </td>
                                <td class="">Apple Macbook 4th Gen - Silver</td>
                                <td class="">#66362</td>
                                <td class="">$1699</td>
                                <td class="">6,100</td>
                                <td class="text-right">
                                  <div class="btn-group text-right">
                                    <button type="button" class="btn btn-success br2 btn-xs fs12 dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> Active
                                      <span class="caret ml5"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                      <li>
                                        <a href="#">Edit</a>
                                      </li>
                                      <li>
                                        <a href="#">Delete</a>
                                      </li>
                                      <li>
                                        <a href="#">Archive</a>
                                      </li>
                                      <li class="divider"></li>
                                      <li>
                                        <a href="#">Complete</a>
                                      </li>
                                      <li class="active">
                                        <a href="#">Pending</a>
                                      </li>
                                      <li>
                                        <a href="#">Canceled</a>
                                      </li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="w100">
                                  <img class="img-responsive mw20 ib mr10" title="user" src="app/ui/assets/img/stock/products/thumb_7.jpg">
                                </td>
                                <td class="">Apple Iphone 16GB - Silver</td>
                                <td class="">#51362</td>
                                <td class="">$1299</td>
                                <td class="">5,200</td>
                                <td class="text-right">
                                  <div class="btn-group text-right">
                                    <button type="button" class="btn btn-success br2 btn-xs fs12 dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> Active
                                      <span class="caret ml5"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                      <li>
                                        <a href="#">Edit</a>
                                      </li>
                                      <li>
                                        <a href="#">Delete</a>
                                      </li>
                                      <li>
                                        <a href="#">Archive</a>
                                      </li>
                                      <li class="divider"></li>
                                      <li>
                                        <a href="#">Complete</a>
                                      </li>
                                      <li class="active">
                                        <a href="#">Pending</a>
                                      </li>
                                      <li>
                                        <a href="#">Canceled</a>
                                      </li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <div role="tabpanel" class="tab-pane " id="tab1_3">
                      </div>
                    </div>

                  </div>
                </div>

              </div>
              <!-- end: .col-md-12.admin-grid -->

            </div>
            <!-- end: .row -->

          </div>

        </div>
        <!-- end: .tray-center -->

        <!-- begin: .tray-right -->
        <aside class="tray tray-right tray270 pn hidden" data-tray-height="match">

          <!-- store activity timeline -->
          <ol class="timeline-list pl5 mt5">
            <li class="timeline-item">
              <div class="timeline-icon bg-dark light">
                <span class="fa fa-tags"></span>
              </div>
              <div class="timeline-desc">
                <b>Michael</b> Added a new item to his store:
                <a href="#">Ipod</a>
              </div>
              <div class="timeline-date">1:25am</div>
            </li>
            <li class="timeline-item">
              <div class="timeline-icon bg-dark light">
                <span class="fa fa-tags"></span>
              </div>
              <div class="timeline-desc">
                <b>Sara</b> Added a new item to his store:
                <a href="#">Notebook</a>
              </div>
              <div class="timeline-date">3:05am</div>
            </li>
            <li class="timeline-item">
              <div class="timeline-icon bg-success">
                <span class="fa fa-usd"></span>
              </div>
              <div class="timeline-desc">
                <b>Admin</b> created a new invoice for:
                <a href="#">Software</a>
              </div>
              <div class="timeline-date">4:15am</div>
            </li>
            <li class="timeline-item">
              <div class="timeline-icon bg-warning">
                <span class="fa fa-pencil"></span>
              </div>
              <div class="timeline-desc">
                <b>Laura</b> edited her work experience</div>
              <div class="timeline-date">5:25am</div>
            </li>
            <li class="timeline-item">
              <div class="timeline-icon bg-success">
                <span class="fa fa-usd"></span>
              </div>
              <div class="timeline-desc">
                <b>Admin</b> created a new invoice for:
                <a href="#">Apple Inc.</a>
              </div>
              <div class="timeline-date">7:45am</div>
            </li>
            <li class="timeline-item">
              <div class="timeline-icon bg-dark light">
                <span class="fa fa-tags"></span>
              </div>
              <div class="timeline-desc">
                <b>Michael</b> Added a new item to his store:
                <a href="#">Ipod</a>
              </div>
              <div class="timeline-date">8:25am</div>
            </li>
            <li class="timeline-item">
              <div class="timeline-icon bg-dark light">
                <span class="fa fa-tags"></span>
              </div>
              <div class="timeline-desc">
                <b>Sara</b> Added a new item to his store:
                <a href="#">Watch</a>
              </div>
              <div class="timeline-date">9:35am</div>
            </li>
            <li class="timeline-item">
              <div class="timeline-icon bg-system">
                <span class="fa fa-fire"></span>
              </div>
              <div class="timeline-desc">
                <b>Admin</b> created a new invoice for:
                <a href="#">Software</a>
              </div>
              <div class="timeline-date">4:15am</div>
            </li>
            <li class="timeline-item">
              <div class="timeline-icon bg-warning">
                <span class="fa fa-pencil"></span>
              </div>
              <div class="timeline-desc">
                <b>Laura</b> edited her work experience</div>
              <div class="timeline-date">5:25am</div>
            </li>
            <li class="timeline-item">
              <div class="timeline-icon bg-success">
                <span class="fa fa-usd"></span>
              </div>
              <div class="timeline-desc">
                <b>Admin</b> created a new invoice for:
                <a href="#">Software</a>
              </div>
              <div class="timeline-date">4:15am</div>
            </li>
            <li class="timeline-item">
              <div class="timeline-icon bg-warning">
                <span class="fa fa-pencil"></span>
              </div>
              <div class="timeline-desc">
                <b>Laura</b> edited her work experience</div>
              <div class="timeline-date">5:25am</div>
            </li>
            <li class="timeline-item">
              <div class="timeline-icon bg-success">
                <span class="fa fa-usd"></span>
              </div>
              <div class="timeline-desc">
                <b>Admin</b> created a new invoice for:
                <a href="#">Apple Inc.</a>
              </div>
              <div class="timeline-date">7:45am</div>
            </li>
            <li class="timeline-item">
              <div class="timeline-icon bg-dark light">
                <span class="fa fa-tags"></span>
              </div>
              <div class="timeline-desc">
                <b>Michael</b> Added a new item to his store:
                <a href="#">Ipod</a>
              </div>
              <div class="timeline-date">8:25am</div>
            </li>
            <li class="timeline-item">
              <div class="timeline-icon bg-dark light">
                <span class="fa fa-tags"></span>
              </div>
              <div class="timeline-desc">
                <b>Sara</b> Added a new item to his store:
                <a href="#">Watch</a>
              </div>
              <div class="timeline-date">9:35am</div>
            </li>
          </ol>

        </aside>
        <!-- end: .tray-right -->